<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Homepage</title>
    <!-- Load font awesome 5-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css">
    <link rel="stylesheet" href="/css/style.css">

    <!-- Load Jquery, Slick slider-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/js/slick-slide.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
</head>
<body>
<div class="container">
    <section class="header">
        <div class="top-nav">
            <div class="logo">
                <i class="fas fa-bars"></i>
                <img src="/images/logo-website.png" alt="logo-website">
            </div>
            <div class="intro">
                <div class="intro-icon">
                    <h3 class="title">Specialist Doctors</h3>
                    <span>Find a doctor by specialty</span>
                </div>
                <div class="intro-icon">
                    <h3 class="title">Health facilities</h3>
                    <span>Select clinic</span>
                </div>
                <div class="intro-icon">
                    <h3 class="title">Doctor</h3>
                    <span>Choose a good doctor</span>
                </div>
                <div class="intro-icon">
                    <h3 class="title">Exam package</h3>
                    <span>General health check</span>
                </div>

            </div>
            <div class="support">
                <span><i class="fas fa-question-circle"></i>Support</span>
            </div>
        </div>

        <div class="image-nav">
            <div class="title-image">
                Doctor's Appointment Booking System
            </div>
            <div class="btn-search">
                <i class="fas fa-search"></i>
                <input class="input-search" type="text" name="btnSearch" placeholder="Search here...">
            </div>
        </div>
        <div class="bottom-nav">
            <div class="bottom-item">
                <i class="fas fa-check"></i>
                <span>Big hospitals</span>
            </div>
            <div class="bottom-item">
                <i class="far fa-thumbs-up"></i>
                <span>Good clinic</span>
            </div>
            <div class="bottom-item">
                <i class="fas fa-user-nurse"></i>
                <span>Good doctor</span>
            </div>
            <div class="bottom-item">
                <i class="far fa-clock"></i>
                <span>Priority examination</span>
            </div>
        </div>
    </section>

    <section class="doctors">
        <div class="title-section">
            <span class="span-title">See a doctor today</span>
            <div class="btn-view ">
                <a class="" href="/"> <span>ALL THE DOCTORS </span></a>
            </div>
        </div>
        <div class="slide">
            <div class="my-slick-slide">
                <div class="div-slide">
                    <img src="../images/speciality/speciality1.jpg" alt="image-doctors">
                    <div class="info-doctor">
                        <span class="name">Dr. Charles Oputa</span>
                        <span class="speciality">Cardiologist</span>
                    </div>
                    <span class="count-booking">See Doctor</span>
                </div>
                <div class="div-slide">
                    <img src="../images/speciality/speciality2.jpg" alt="image-doctors">
                    <div class="info-doctor">
                        <span class="name">Dr. Peter Okon</span>
                        <span class="speciality">Orthopedist</span>
                    </div>
                    <span class="count-booking">See Doctor</span>
                </div>
                <div class="div-slide">
                    <img src="../images/speciality/speciality3.jpg" alt="image-doctors">
                    <div class="info-doctor">


                        <span class="name">Dr. Williams Deji</span>
                        <span class="speciality">Peaditrician</span>
                    </div>
                    <span class="count-booking">See Doctor</span>
                </div>
                <div class="div-slide">
                    <img src="../images/speciality/speciality4.jpg" alt="image-doctors">
                    <div class="info-doctor">
                        <span class="name">Dr. Ajibade Thompson</span>
                        <span class="speciality">Dermatologist</span>
                    </div>
                    <span class="count-booking">See Doctor</span>
                </div>
                <div class="div-slide">
                    <img src="../images/speciality/speciality5.jpg" alt="image-doctors">
                    <div class="info-doctor">
                        <span class="name">Dr. Sylvia Opara</span>
                        <span class="speciality">Neurologist</span>
                    </div>
                    <span class="count-booking">See Docotor</span>
                </div>
            </div>
        </div>
    </section>

    <section class="contact">
        <div class="left-side">
            <span class="title">For doctors</span>
            <span class="second-title">Building credibility and online brand</span>
            <span class="third-title">Increasing the number of patients and effective management</span>
            <a class="btn-contact"><span>contact for cooperation</span></a>
        </div>
        <div class="right-side auto-resizable-iframe">
            <div>
                <img src="../images/speciality/docs.jpg">
            </div>
        </div>
    </section>
    <footer>
        <span> Oasis Technologies Ltd.2020</span>
    </footer>
</div>
</body>
</html>
